annotated-doc==0.0.5
cachebox==5.2.3
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
dcm2niix==1.0.20260724
deepdiff==9.1.0
dipy==1.12.1
et_xmlfile==2.0.0
fonttools==4.65.0
h5py==3.16.0
imageio-ffmpeg==0.6.0
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
nibabel==5.4.2
numpy==2.5.3
openpyxl==3.1.5
orderly-set==5.5.0
packaging==26.3
pillow==12.3.0
pydicom==3.0.2
Pygments==2.21.0
pyparsing==3.3.2
PySide6_Essentials==6.11.2
python-dateutil==2.9.0.post0
rich==15.0.0
scipy==1.18.1
shellingham==1.5.4
shiboken6==6.11.2
simpleitk==2.5.6
six==1.17.0
tqdm==4.70.1
trx-python==0.6
typer==0.27.2
typing_extensions==4.16.0
vtk==9.7.0
